<html>
  <head>
  </head>
  <body>
    <p>
      Box DICOM Uploader
    </p>
    <p>
      We're going to the protected resource, if there is no user in the session we will talk to the
      Box API. Ready?
      <a href="/app/browser">Click here</a> to begin!</a>
    </p>
  </body>
</html>